#main-tile
  border-style solid
  border-width 3px
  border-color white
  border-right none
  border-left none
  margin 0 auto
  margin-top 25%
  margin-bottom auto
  width 90%

.external-nav > div:hover > div > a
  color #00BFFF !important

.internal-nav > div
  border-style solid
  padding-top 0.5em
  padding-bottom 0.5em

.internal-nav > div:last-child
  border-top-right-radius 5px
  border-bottom-right-radius 5px

.internal-nav > div:first-child
  border-top-left-radius 5px
  border-bottom-left-radius 5px

.internal-nav > div:hover
  background-color #00BFFF

.internal-nav div:hover a
  color black !important

